@font-face {
    font-family: "IBM-Regular";
    src: url(/static/fonts/IBMPlexMono-regular-latin.woff2);
}

@font-face {
    font-family: "IBM-Text";
    src: url(/static/fonts/IBMPlexSans-text-latin.woff2);
}

::selection {
    background-color: var(--purple15);
}

:root {
    --white0: #FFFFFF;
    --white5: #F7F7F7;
    --white10: #EDEDED;
    --white15: #E3E3E3;
    --black75: #333036;
    --black80: #272529;
    --black85: #222024;
    --black90: #1A191C;
    --grey10: #E8E1F0;
    --grey15: #D9D9D9;
    --grey25: #BDBDBD;
    --grey30: #B2ACB8;
    --grey50: #807F7F;
    --grey60: #6B6A6A;
    --grey65: #595959;
    --grey80: #333333;
    --grey90: #1A1A1A;
    --red25: #EA8A98;
    --red35: #E66A7D;
    --red45: #E63E61;
    --red60: #C90054;
    --teal45: #5AC2A9;
    --teal60: #00D4A1;
    --teal65: #00AB81;
    --teal75: #007864;
    --purple10: #D7C2FF;
    --purple15: #CAADFF;
    --purple20: #B795FF;
    --purple30: #9969FF;
    --purple40: #7538FF;
    --purple45: #601AFF;
    --blue50: #00CBF5;
    --blue60: #00A3C7;
    --blue75: #00748A;
    --orange25: #FFA482;
    --orange40: #E6714C;
    --orange55: #BA4020;
    --yellow55: #F0BB00;
    --yellow65: #BD9300;
    --yellow75: #8A6400;
    --green55: #00ED4F;
    --green65: #00AD39;
    --green75: #007A22;
    --pink20: #F699FF;
    --pink35: #E657FF;
    --pink60: #AD00C9;
    --white: var(--white0);
    --black: var(--grey90);
    --redFill: var(--red45);
    --redFillAlt: var(--red35);
    --tealFill: var(--teal65);
    --tealFillAlt: var(--teal45);
    --purpleFill: var(--purple30);
    --purpleFillAlt: var(--purple20);
    --blueFill: var(--blue60);
    --orangeFill: var(--orange40);
    --yellowFill: var(--yellow65);
    --greenFill: var(--green65);
    --pinkFill: var(--pink35);
    --greyFill: var(--grey50);
    --px1: 5px;
    --px2: 10px;
    --px3: 15px;
    --px4: 20px;
    --px5: 25px;
    --px6: 30px;
    --px7: 35px;
    --px8: 40px;
    --px9: 50px;
    --px10: 60px;
    --px11: 75px;
    --px12: 100px;
    --px13: 125px;
    --px14: 150px;
    --px15: 175px;
    --px16: 200px;
    --px17: 225px;
    --px18: 250px;
    --px19: 275px;
    --px20: 300px;
    --rem1: 0.5rem;
    --rem2: 0.75rem;
    --rem3: 1rem;
    --rem4: 2rem;
    --rem5: 4rem;
    --rem6: 8rem;
    --rem7: 16rem;
}

html {
    /* color: var(--white10); */
    color: var(--grey80);
    font-family: "IBM-Regular";
    /* background-color: var(--black90); */
    background-color: var(--white15);
    background-image: url(/static/public/01-trame\ rotated3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

p {
    font-family: "IBM-Text";
    font-size: 60px;
    color: rgb(108,99,255);
    -webkit-text-stroke: rgb(47,46,65) 1px;
}

img {
    margin-top: 190px;
    width: 700px;
}